<!-- Config file for the game -->

<config>
  <app>
    <title>Warped by ...</title>
    <organization>UPC</organization>
  </app>

  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <position x ="75" y ="350"/>
    <playerSpeed value ="3"/>
    <jumpStrength value ="7"/>
    <gravity value ="8"/>
    <alive value = "true"/>
  </player>

</config>